<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          /*
          var container = document.getElementById('timeline');
          var chart = new google.visualization.Timeline(container);
          var dataTable = new google.visualization.DataTable();
      
          dataTable.addColumn({ type: 'string', id: 'Task' });
          dataTable.addColumn({ type: 'date', id: 'Start' });
          dataTable.addColumn({ type: 'date', id: 'End' });
          dataTable.addRows([
            [ 'Email', new Date(2022, 2, 14, 8,07,21), new Date(2022, 2, 14, 8,15,25) ],
            [ 'Coffee', new Date(2022, 2, 14, 9,17,55), new Date(2022, 2, 14, 9,22,45) ],
            [ 'Email', new Date(2022, 2, 14, 9,10,21), new Date(2022, 2, 14, 9,30,26) ],
            [ 'Meeting', new Date(2022, 2, 14, 11,10,35), new Date(2022, 2, 14, 11,50,48) ],
            [ 'Lunch', new Date(2022, 2, 14, 12,10,21), new Date(2022, 2, 14, 13,01,12) ],
            ]);
          */

          var jsonData = $.ajax({
            url: "/home/pi/Senior-Design/playground/templates/getData.php",
            dataType: "json",
            async: false
          }).responseText;

          var dataTable = new google.visualization.DataTable(jsonData);

          var options = {
            timeline: { groupByRowLabel: true }
          };
      
          chart.draw(dataTable, options);
        }
      </script>
</head>

<body style="text-align: center;">

    <h1 style="color: green;">Tasktop Home</h1>

    <button><a href="/playground/daily_summary/">Daily Summary</a></button>
    <button><a href="/playground/columnchart/">Weekly Summary</a></button>
    <button><a href="/playground/settings/">Settings</a></button>
    <br>
    <br>
    <div id="timeline"></div>
</body>
</html>