{% load static %}

<!DOCTYPE html>
<html>

	<button><a href="/home/">Home</a></button>

<head>

	<title>Tasktop Settings</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body style="text-align: center;">

	{% for msg in messages %}
		<div class="alert alert-{{ message.tag }} m-2" id="msg" role="alert">
			{{ msg }}
		</div>
	{% endfor %}

	<h1 style="color: green;">Tasktop Settings</h1>

	<h3>{{instruction}}</h3>
	<form class="" action="" method="post">
		{% csrf_token %}
		{{form.as_p}}
		<!--
	  <input type="text" name="array[]" value="{{task1}}" /><br>
	  <input type="text" name="array[]" value="{{task2}}" /><br>
	  <input type="text" name="array[]" value="{{task3}}" /><br>
	  <input type="text" name="array[]" value="{{task4}}" /><br>
	  <input type="text" name="array[]" value="{{task5}}" /><br>
	  -->
		<button type="submit" name="button" onclick="apply()">Apply</button>
	</form>

	<script>
		setTimeout(function(){
			if ($('#msg').length > 0) {
				$('#msg').remove();
			}
		}, 5000)
	</script>
	
</body>

</html>